# Data Structures for Data Visualization Course

In [1]:
print("Data Visualization")

Data Visualization

## 1) Variables

In [5]:
# Variable names are case sensitive: uppercase / lowercase letters
var = 1
Var = 2
print(var)
print(Var)

1
2

In [8]:
# Names can be a combination of letters, digits, and underscore
var1 = 3
print(var1)
var_1 = 4
print(var_1)
_var1 = 5
print(_var1)

3
4
5

In [9]:
# Names can not start with a number
1_var = 6
print(1_var)

SyntaxError: invalid decimal literal (4102537848.py, line 2)

In [11]:
my_variable_1 = 1_000_000
my_variable_2 = 1000000
my_variable_3 = 1_0_0_0_00_0
print(my_variable_1)
print(my_variable_2)
print(my_variable_3)

1000000
1000000
1000000

In [12]:
# Keywords can not be used as variable names
if = 4

SyntaxError: invalid syntax (135169702.py, line 2)

In [13]:
import keyword

In [14]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [15]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
help(keyword.iskeyword)

Help on built-in function __contains__:

__contains__(...) method of builtins.frozenset instance
    x.__contains__(y) <==> y in x.

In [17]:
keyword.iskeyword("if")

True

In [18]:
keyword.iskeyword("Bora")

False

In [20]:
"""
if you are worried about the name, or intentionally 
want to use a keyword as a variable name, 
then use an underscore at the end
"""
if_ = 5
print(if_)

5

In [23]:
# Primitive Variable Types
a = 5
b = 7.34
c = "Bora"
d = True
e = 2j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [24]:
# Multiple assignments
v1, v2, v3, v4, v5 = 5, 7.34, "Bora", True, 2j
print(v1, v2, v3, v4, v5)

5 7.34 Bora True 2j

In [26]:
# swapping the variables
v1, v2 = v2, v1
print(v1, v2)
v1, v2 = v2, v1
print(v1, v2)

7.34 5
5 7.34

In [47]:
# Formatted Output
print("v1 = ", v1, " | v2 = ", v2, " | v3 = ", v3, " | v4 = ", v4, " | v5 = ", v5)
print("v1 = %d | v2 = %e | v3 = %s | v4 = %s | v5 = %s " % (v1, v2, v3, v4, v5))
print("v1 = {0} | v2 = {1} | v3 = {2} | v4 = {3} | v5 = {4}".format(v1, v2, v3, v4, v5))
print(f"v1 = {v1} | v2 = {v2} | v3 = {v3} | v4 = {v4} | v5 = {v5}")
print(f"v1 = {v1:05d} | v2 = {v2:16.4f}")

v1 =  5  | v2 =  7.34  | v3 =  Bora  | v4 =  True  | v5 =  2j
v1 = 5 | v2 = 7.340000e+00 | v3 = Bora | v4 = True | v5 = 2j
v1 = 5 | v2 = 7.34 | v3 = Bora | v4 = True | v5 = 2j
v1 = 5 | v2 = 7.34 | v3 = Bora | v4 = True | v5 = 2j
v1 = 00005 | v2 =           7.3400

In [57]:
# Typecasting
print(float(12))
print(int(4.6))
print(bool(0))
print(str(7.62))

12.0
4
False
7.62

In [78]:
# Strings are sequences. Sequences are an object type in Python that allows user to store multiple values.
# If they are sequences, then we can use indexing and slicing.
name = "Data Visualization"
print(name[0])
print(name[7])
print(len(name))
print(name[len(name)-1])
print(name[-1])
print(name[-3])
print(name[-len(name)])
print(name[0:4])
print(name[:4])
print(name[5:])
print(name[:])
print(name[0:4:2])
print(name[3:0:-1])
print(name[::-1])

D
s
18
n
n
i
D
Data
Data
Visualization
Data Visualization
Dt
ata
noitazilausiV ataD

In [85]:
# Loops and Range
for i in range(len(name)):
    print(name[i], end='') # help(print)
print('')
for i in range(2, 10):
    print(name[i], end='')
print('')
for i in range(2, 10, 2):
    print(name[i], end='')
print('')
for i in range(10, 2, -2):
    print(name[i], end='')
print('')
for c in name:
    print(c, end='')

Data Visualization
ta Visua
t iu
lui
Data Visualization

## 2) Sequences in Python

### Lists
Ordered and mutable sequence of values indexed by integer numbers.

In [101]:
# initialize
a_list = []
print(f"initialize: {a_list} {type(a_list)}")
# append (adding an item to the end)
a_list.append(7)
a_list.append(9)
a_list.append(3)
print(f"append: {a_list}")
# access an item
print(f"access: {a_list[2]}")
# insert an item with an index
a_list.insert(1, 5)
print(f"insert: {a_list}")
# update an item
a_list[2] = 4
print(f"update: {a_list}")
# remove an item
del a_list[1]
print(f"remove: {a_list}")
print(a_list.pop())

initialize: [] <class 'list'>
append: [7, 9, 3]
access: 3
insert: [7, 5, 9, 3]
update: [7, 5, 4, 3]
remove: [7, 4, 3]
3

In [102]:
dir(a_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [105]:
a_list.sort()
print(a_list)
a_list.reverse()
print(a_list)

[4, 7]
[7, 4]

### Tuples
Ordered and immutable sequence of values indexed by integer numbers.

In [108]:
# initialize
a_tuple = (3, 5, 7, 9)
print(f"initialize: {a_tuple} {type(a_tuple)}")
# immutable: no append, no update, no remove
# access an item
print(f"access: {a_tuple[2]}")
# remove the whole tuple
del a_tuple
print(a_tuple)

initialize: (3, 5, 7, 9) <class 'tuple'>
access: 7

NameError: name 'a_tuple' is not defined

### Sets
Unordered and mutable collection of values with no duplicate items. They support mathematical operations like union, intersection, difference, and symmetric difference.

In [121]:
# initialize
a_set = {3, 5, 5, 5, 5, 7, 7, 7, 7, 9, 3, 5, 7, 9}
print(f"initialize: {a_set} {type(a_set)}")
# add
a_set.add(7)
a_set.add(9)
a_set.add(1)
print(f"add: {a_set}")
# unordered: no access, no insert, no update
# remove an item (with the value)
a_set.remove(9)
a_set.discard(8) # a_set.remove(8) raises a key error
a_set.discard(7)
print(f"remove: {a_set}")
# delete
del a_set
# remove all items rather than deleting the set
a_set = set([3, 5, 7])
print(f"fill again: {a_set}")
a_set.clear()
print(f"empty set: {a_set}")
# union of two sets
a_set_1 = {1, 2, 3, 5, 7}
a_set_2 = {1, 2, 4, 6, 8}
print(f"union of two sets: {a_set_1 | a_set_2}")
# difference of two sets
print(f"difference of two sets: {a_set_1 - a_set_2} {a_set_2 - a_set_1}")
# symmetrical difference of two sets
print(f"symmetrical difference of two sets: {a_set_1 ^ a_set_2}")

initialize: {9, 3, 5, 7} <class 'set'>
add: {1, 3, 5, 7, 9}
remove: {1, 3, 5}
fill again: {3, 5, 7}
empty set: set()
union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}
difference of two sets: {3, 5, 7} {8, 4, 6}
symmetrical difference of two sets: {3, 4, 5, 6, 7, 8}

### Dictionaries
Unordered and mutable set of key-value pairs

In [129]:
# initialize
a_dict = {}
print(f"initialize: {a_dict} {type(a_dict)}")
# add an item with a key
a_dict["first_name"] = "Bora"
a_dict["last_name"] = "Canbula"
a_dict["age"] = 38
print(f"add: {a_dict}")
# access an item
print(f"access: {a_dict['last_name']}")
# list the keys and values
print(f"keys: {a_dict.keys()}")
print(f"values: {a_dict.values()}")
# update an item
a_dict["age"] = 39
print(f"update: {a_dict['age']}")
# remove an item
del a_dict["last_name"]
print(f"remove: {a_dict}")
# remove all items
a_dict.clear()
print(f"clear: {a_dict}")

initialize: {} <class 'dict'>
add: {'first_name': 'Bora', 'last_name': 'Canbula', 'age': 38}
access: Canbula
keys: dict_keys(['first_name', 'last_name', 'age'])
values: dict_values(['Bora', 'Canbula', 38])
update: 39
remove: {'first_name': 'Bora', 'age': 39}
clear: {}

In [134]:
a_dict = {'first_name': 'Bora', 'last_name': 'Canbula', 'age': 38}
for k in a_dict.keys():
    print(k)
for v in a_dict.values():
    print(v)
for k, v in zip(a_dict.keys(), a_dict.values()):
    print(k, v)
for k, v in a_dict.items():
    print(k, v)

first_name
last_name
age
Bora
Canbula
38
first_name Bora
last_name Canbula
age 38
first_name Bora
last_name Canbula
age 38